@import "./tailwind.css";
@import "tailwindcss";

.app-container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
}
